body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}


header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0px 20px;
}

header img {
    max-width: 100%;
    height: auto;

}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff; 
    transition: all 1s ease;
    font-size: 26px;
}

a:hover {
    color: #f75959; 
    position: relative; 
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


main {
    min-height: 800px;
    height: 100rem;
}

footer {
    text-align: center;
    height: 10rem;
    background-color: #000;
    color: #fff;
}
img{
    width: 100px;
    height: 100px;
}

.titulo{
    text-align: center;
 }

.banner-img {
    width: 100%;
    height: 50rem;
    position: absolute;
    z-index: -1;
    margin-top: 720px ;
    margin-left: -20px;
  }

.descricao-viva-docol {
    text-align:justify;
    position: fixed;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }
    
    nav ul {
        flex-direction: column;
        gap: 10px;
    }
    
    nav a {
        font-size: 16px;
    }
    
    main {
        min-height: auto;
    }
}
